{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cyber Bully Detection System</title>
    <style>
        * {margin: 0; padding: 0}
        body {background: #000;}
        #home {position: absolute;
            left: 50px;
            top: 50px;
        font-family: 'Roboto'}
        canvas {display: block;
            margin-left: 10px;
            margin-top: 10px;}
    </style>

</head>
<body>
<div id="home">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h style="font-size:80px; color:yellowgreen;margin-left: 440px; font-family:  'Robot Reavers'; text-align: -webkit-center">Cyber Bully</h><br>
    <h style="font-size:80px; color:yellowgreen;margin-left: 340px; font-family:  'Robot Reavers'; text-align: -webkit-center">Detection System</h>
<form method="get" action="{% url 'dashboard' %}">
<button type="submit" style="background-color:greenyellow; margin-top: 200px; margin-left:700px; padding-left: 60px; padding-right: 60px;padding-top: 20px;padding-bottom: 20px;  border-radius:100px; font-size: 30px;font-family:  'Arial Black'; color: darkgreen" >Start </button>
</form>

</div>
<canvas>
</canvas>

<br>

<script>
        // Initialising the canvas
        var canvas = document.querySelector('canvas'),
            ctx = canvas.getContext('2d');

        // Setting the width and height of the canvas
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        // Setting up the letters
        var letters = 'ABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZ';
        letters = letters.split('');

        // Setting up the columns
        var fontSize = 10,
            columns = canvas.width / fontSize;

        // Setting up the drops
        var drops = [];
        for (var i = 0; i < columns; i++) {
          drops[i] = 1;
        }

        // Setting up the draw function
        function draw() {
          ctx.fillStyle = 'rgba(0, 0, 0, .1)';
          ctx.fillRect(0, 0, canvas.width, canvas.height);
          for (var i = 0; i < drops.length; i++) {
            var text = letters[Math.floor(Math.random() * letters.length)];
            ctx.fillStyle = '#0f0';
            ctx.fillText(text, i * fontSize, drops[i] * fontSize);
            drops[i]++;
            if (drops[i] * fontSize > canvas.height && Math.random() > .95) {
              drops[i] = 0;
            }
          }
        }

        // Loop the animation
        setInterval(draw, 33);
    </script>

</body>
</html>